/* global style  */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #202124;
}
/* header style  */
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 14px;
    color: #fff;
}
nav a{
    font-size: 13px;
    display: inline-block;
    line-height: 24px;
    font-weight: 400;
    color:#fff;
    cursor: pointer;
    padding: 5px 6.7px;
}
nav a:hover{
    text-decoration: underline;
}
nav img{
    width: 34px;
    padding: 5px;
    margin: auto 7px;
    cursor: pointer;
}
nav i{
    padding: 7px;
}
nav img:hover, nav i:hover{
    background: rgba(255, 255, 255, 0.27);
    border-radius: 50%;
}
/* end header style  */

/* start main style  */
.section-1{
    flex: 1;
}
.section-1 .logo{
    display: block;
    margin:0px auto;
    margin-top:107px;
    margin-bottom: 20px;
}
.s-box{
    width:580px;
    margin:0px auto;
    position: relative;
    margin-top: -8px;
    text-align: center;
}
.s-box .s-input{
    display: block;
    border: 1px solid #bdc1c62a;
    color:#fff;
    font-size: 16px;
    padding: 13px;
    padding-left: 45px;
    border-radius: 25px;
    width: 100%;
    outline: none;
    background-color: transparent;
    
}
.s-box .s-input:hover{
    border:1px solid transparent;
    background-color: #bdc1c62a;
}
.s-box .search-icon{
    width: 20px;
    opacity: .4px;
    color: #9aa0a6;
    position: absolute;
    top:15px;
    left: 14px;
}
.s-box .vs-icon{
    position: absolute;
    top: 13px;
    right: 50px;
    width: 13px;
}
.s-box .camera-icon{
    position: absolute;
    top: 13px;
    right:20px;
}
.s-box .s-btn{
    border:1px solid transparent;
    padding: 9px 15px;
    color: #e8eaed;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    margin-right:10px ;
    margin-top: 28px;
    outline: none;
    cursor: pointer;
    background-color: #303134;
}
.s-btn:hover{
    border:1px solid rgba(232, 234, 237, 0.442);
}
.lang{
    margin-top:30px;
    text-align: center;
    font-size: 13px;
    color: #bdc1c6;
    margin-bottom: 205px;
}
.lang a{
    color:#8ab4f8;
    margin-left: 5px;
}
.lang a:hover{
    text-decoration: underline;
}
/* end main style */

